body
{
    background-color: azure;
}

h1
{
    color: red;
    text-align: center;
}

a
{
    background-color: aqua;
    display: block;

}

a:hover
{
    background-color: darkblue;
    color: white;
}

